
vi6ws.xcodeproj/xcuserdata/GiaSet.xcuserdatad/xcschemes/xcschememanagement.plist

vi6ws.xcodeproj/xcuserdata/GiaSet.xcuserdatad/xcschemes/vi6ws.xcscheme

vi6ws.xcodeproj/xcuserdata/GiaSet.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
